body{
  padding:30px 10px;
}

/* Default styles for desktop */
.bg-gradient-to-r {
  height: 140px;
}

.w-90 {
  width: 90px;
}

.h-90 {
  height: 90px;
}

.h-48 {
  height: 14rem !important;
}

.profile-img {
  margin-top: -14%;
}

.profile-details {
  margin-top: -10%;
}

