---
layout: page
---

<div class="about-content">

<h3 id="hi-there">Hi there 👋</h3>
<p>
I&#39;m <a target="_blank" href="https://www.linkedin.com/in/tawhidmonowar">Tawhid Monowar</a>, a passionate Computer Science graduate with a deep passion for solving real-world problems through code. Whether it’s mobile apps, IoT devices, or machine learning experiments, I’m always exploring new ways to turn ideas into something useful. You can find me online as <strong>@tawhidmonowar</strong>, where I share my projects, learnings, and tech adventures. I enjoy collaborating, learning from others, and creating open source software that actually helps people.
</p>

<blockquote style="background-color: var(--prompt-tip-bg); border-left: 5px solid var(--prompt-tip-icon-color); border-radius: 10px; margin: 1em 10px; padding: 0.5em 10px; font-family: sans-serif; color: var(--prompt-text-color);">
  <p style="margin: 0;">
    <em style="font-style: italic; font-size: 1.03rem;">I'm open to new opportunities in mobile app development and embedded software engineering.</em>
  </p>
</blockquote>

<div style="max-width: 800px; margin: 0 auto; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
  <h3>Skills</h3>
  <div class="skills-container">
    <div class="skill-category">
      <strong>Languages</strong> -
      <span class="skill-item">C++</span>
      <span class="skill-item">Java</span>
      <span class="skill-item">Kotlin</span>
      <span class="skill-item">Python</span>
      <span class="skill-item">SQL</span>
    </div>

    <div class="skill-category">
      <strong>Development</strong> -
      <span class="skill-item">Android Development</span>
      <span class="skill-item">Jetpack Compose</span>
      <span class="skill-item">Kotlin Multiplatform</span>
    </div>

    <div class="skill-category">
      <strong>Databases</strong> -
      <span class="skill-item">MySQL</span>
      <span class="skill-item">SQLite</span>
      <span class="skill-item">NoSQL</span>
      <span class="skill-item">Firebase</span>
    </div>

    <div class="skill-category">
      <strong>Tools & Technologies</strong> -
      <span class="skill-item">Git</span>
      <span class="skill-item">GitHub</span>
      <span class="skill-item">Microcontrollers (e.g. Arduino, ESP32)</span>
    </div>

    <div class="skill-category">
      <strong>Specialized Skills</strong> -
      <span class="skill-item">Unit Testing</span>
      <span class="skill-item">Web Scraping</span>
      <span class="skill-item">Basic Data Science & Machine Learning</span>
    </div>

  </div>
</div>